<!DOCTYPE html>
<html>
  <head>

  <title>aaaa</title>
  <%= stylesheet_link_tag 'cocktails' %>
  </head>
  <body>

    <div class="row justify-content-center">
      <h1>Cocktails</h1>
    </div>
    <div class="container">
      <% @cocktails.each do |cocktail|  %>
      <p> <%= cocktail.name %></p>
      <% end %>
      <button type="button" class="btn btn-success">Add</button>
    </div>

  </body>
</html>

